.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0;
  overflow: hidden;
  transform: translate(0, 0);
  background: transparent;
}

.btn--icon {
  border-radius: 40px;
  padding: 8px;
  margin: 0 4px;
  width: 40px;
  height: 40px;
  background: #2a2a2a;
  color: #555;
}

.btn--checkbox {
  margin-right: 1rem;
}

.btn--icon.hide {
  display: none;
}

.btn:hover {
  color: #999;
}