.todo-item {
  display: flex;
  align-items: center;
  outline: none;
  border-bottom: 1px dotted #666;
  height: 3rem;
  overflow: hidden;
}

.todo-item--completed {
  color: #555;
  
  .todo-item__task::after {
    display: block;
  }

  .btn--checkbox {
    color: #85bf6b;
  }
}

.todo-item__task {
  position: relative;
  display: inline-block;

  &::after {
    display: none;
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    background: #85bf6b;
  }
}

.todo-item__cell:nth-of-type(1),
.todo-item__cell:nth-of-type(3) {
  flex: 0 0 auto;
}

.todo-item__cell:nth-of-type(2) {
  flex: 1 1 0%;
  padding: 0 4px;
  margin-right: 1rem;
}

.todo-item__input {
  outline: none;
  border: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  color: #fff;
  font: inherit;
  background: transparent;
}