@import '../../node_modules/react-redux-toastr/src/styles/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Lato', sans-serif;
  background: #222;
  color: #fff;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  min-width: 16rem;
  max-width: 28rem;
  width: 100%;
}

.header {
  padding: 15px;
  text-align: right;
  color: #666;
}

.header a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;

  &:hover {
    color: #fff;
  }
}

.todo-filters {
  margin-bottom: 1.5rem;
}

.error {
  position: absolute;
  color: #a56bbf;
  bottom: -25px;
  right: 0;
  font-size: 0.75rem;
}

.redux-toastr .toastr .rrt-middle-container .rrt-title {
  font-weight: normal;
}

.redux-toastr .toastr .rrt-middle-container .rrt-text {
  font-size: 0.75em;
}