* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Lato', sans-serif;
  background: #222;
  color: #fff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  min-width: 16rem;
  max-width: 28rem;
  width: 100%;
}